.wrapper {
	display: grid;

	width: 350px;
	padding: 10px;

	border: 1px solid var(--color-cultured, #F5F5F5);
	border-radius: 5px;
	background: var(--color-white, #FFF);
}

.post-image-wrapper {
	position: relative;

	width: 330px;
	height: 200px;
	margin-bottom: 6px;
	padding: 4px 15px;

	border-radius: 5px;
	background: #E5F4FF;
}

.post-image {
	object-fit: contain;
}

.top-content {
	display: grid;
	grid-template-columns: repeat(3, max-content) 1fr max-content;

	align-items: center;
	gap: 5px;

	:last-child {
		grid-column: -2 / -1;
	}
}

.intro-text {
	margin-bottom: 16px;
}

.bottom-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
